@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}
/* ===============================  NAVBAR CODE ========================== */
.nav-bar {
  padding: 10px 0;
}
.nav-bar .nav-bar-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}
.nav-bar .nav-bar-container .logo {
  font-size: 1.6rem;
  color: #2d2d2d;
}

.nav-bar .nav-bar-container .links {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.nav-bar .nav-bar-container .links a {
  text-decoration: none;
  color: black;
  font-family: "Epilogue", serif;
  font-size: 17px;
}

/* ================================================ MAIN TAG =============== */

.main {
  width: 87%;
  max-width: 1300px;
  margin: 100px auto;
  height: 1500px;
}

/* ============================================== BANNER CODE ============== */

.main .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .banner .textures {
  width: 60%;
}
.main .banner .textures .subtitle {
  font-size: 20px;
}
.main .banner .textures .title {
  font-size: 100px;
  font-weight: bold;
  margin: 20px 0;
}
.main .banner .textures .description {
  font-size: 17px;
}
.main .banner .image-place {
  width: 40%;
}
.main .banner .image-place img {
  width: 90%;
}
/* ========================================= SPONSORES DESIGN */

.main .sponsores {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .sponsores img {
  height: 35px;
}
